body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1265px;
    margin: 0 auto;
}

.btn {
    padding: 0.625rem 1.125rem;
    border-radius: 0.3125rem;
    font-size: 0.9375rem;
    border: 1px solid #B3DCEA;
    font-weight: 600;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.col-fluid {
    min-width: 344px;
}

.col {
    width: 100%;
}

.col ul {
    list-style-type: none;
    padding-left: 0;
}

.divider {
    border-width: 0;
    border-top-width: 1px;
    border-color: #D0E2ED;
}

.module-spacing {
    margin-top: 2.94rem;
}

h2 {
    font-size: 2.8125rem;
    font-weight: 600;
}

.card {
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dfdfdf;
    padding: 2rem 2.5625rem;
    border-radius: 2.0625rem;
}

.card h3 {
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.card-orange {
    background-color: #FFCBAE;
}

.card-pink {
    background-color: #FEDCDC;
}

.card-purple {
    background-color: #E7DCFE;
}

.card-blue {
    background-color: #D6F2FF;
}
/* HEADER STYLES BEGIN */
header {
    padding: 33px 0;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    column-gap: 37px;
}

.nav-links a {
    font-size: 0.875rem;
    color: #4D6175;
    text-decoration: none;
}

.navbar-flex .btn {
    font-weight: 500;
    font-size: 0.8125rem;
}

.register-link {
    font-weight: 600;
}
/* HEADER STYLES END */

/* FOOTER STYLES BEGIN */
footer, footer li a {
    color: #263E56;
    font-size: 0.9rem;
}

footer {
    font-weight: 500;
}

footer li a {
    text-decoration: none;
}

footer h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

footer .flex {
    column-gap: 1.75rem;
}

/* FOOTER STYLES END */

/* OUR PROCESS START */
section.our-process {
    text-align: center;
    color: #263E56;
}

.our-process-description {
    max-width: 470px;
    margin: 0 auto;
}

section.our-process h2 {
    margin-bottom: 1.3125rem;
}

section.our-process .flex {
    margin: 4.5625rem 0;
    column-gap: 6%;
}

section.our-process .card {
    width: 100%;
}

@media (max-width: 1200px) {
    section.our-process .flex {
        flex-direction: column;
    }
}
/* OUR PROCESS END */